name: verify-local-formula
run-name: Verify local Formula

on:
  push:
    branches-ignore: [ master ]
    paths: [ 'Formula/git-team.rb', '.github/workflows/*' ]
  pull_request:
    paths: [ 'Formula/git-team.rb', '.github/workflows/*' ]
  workflow_dispatch:

jobs:
  verify-local-formula:
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest ]
    runs-on: ${{ matrix.os }}
    env:
      HOMEBREW_DEVELOPER: true
    steps:
      - uses: Homebrew/actions/setup-homebrew@master
      - uses: actions/checkout@v6
      - run: brew install --verbose ./Formula/git-team.rb
      - run: brew audit git-team --strict
      - run: brew test git-team
      - run: git-team --version
